
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="error_section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="error_form">
                    <h1>404</h1>
                    <h2>Rất tiếc! Trang bạn tìm không tồn tại</h2>
                    <p>Xin lỗi nhưng trang bạn đang tìm kiếm không tồn tại, đã bị<br> xóa, tên đã thay đổi hoặc không có sẵn tạm thời.</p>
                    <form action="#">
                        <input placeholder="Tìm kiếm trang..." type="text">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                    <a href="javascript:;"  onclick="javascript:history.back()">Quay lại trang trước</a>
                </div>
            </div>
        </div>
    </div>
</div>
