@{
    ViewData["Title"] = "Index";
}
@section Styles{
    <link href="~/admin/js/vendors/jQuery-EasyUI/themes/bootstrap/easyui.css" rel="stylesheet" />
    <link href="~/admin/js/vendors/jQuery-EasyUI/themes/icon.css" rel="stylesheet" />
}
@section Scripts{
    <script src="~/admin/js/vendors/jQuery-EasyUI/jquery.easyui.min.js"></script>
    <script src="~/admin/app/controllers/blog-category/index.js" asp-append-version="true"></script>
    <script>
        var blogCategory = new blogCategoryController();
        blogCategory.initialize();
    </script>
}

<div class="page-title">
    <div class="title_left">
        <h3>Danh Mục Blog</h3>
    </div>

    <div class="title_right">
        <div class="col-md-2 col-sm-2 col-xs-12 form-group pull-right">
            @if ((await AuthorizationService.AuthorizeAsync(User, "BLOG_CATEGORY", Operations.Create)).Succeeded)
            {
                <button class="btn btn-success" id="btnCreate" type="button">Tạo Mới</button>
            }
            else
            {
                <button class="btn disabled" disabled><i class="fa fa-plus"></i>Tạo Mới</button>
            }
        </div>
    </div>
</div>
<div class="clearfix"></div>

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="kt-portlet">
                <div class="kt-portlet__head kt-portlet__head--lg">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon">
                            <i class="kt-font-brand flaticon2-line-chart"></i>
                        </span>
                        <h3 class="kt-portlet__head-title">
                            Danh mục dịch vụ
                        </h3>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                        <div class="kt-portlet__head-wrapper">
                            <a href="#" class="btn btn-clean btn-icon-sm">
                                <i class="la la-long-arrow-left"></i>
                                Quay lại
                            </a>
                            &nbsp;
                            @if ((await AuthorizationService.AuthorizeAsync(User, "BLOG", Operations.Create)).Succeeded)
                            {
                                <a href="#" id="btnCreate" class="btn btn-clean btn-icon-sm">
                                    <i class="la la-plus"></i>
                                    Thêm mới
                                </a>
                            }
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div id="kt_tree_1" class="tree-demo jstree jstree-1 jstree-default" role="tree" aria-multiselectable="true" tabindex="0" aria-activedescendant="j1_1" aria-busy="false">
                        <ul id="treeProductCategory"></ul>
                        <div id="contextMenu" class="easyui-menu" style="width:120px;">
                            @if ((await AuthorizationService.AuthorizeAsync(User, "BLOG", Operations.Update)).Succeeded)
                            {
                                <div id="btnEdit" data-options="iconCls:'icon-edit'">Sửa</div>
                            }

                            @if ((await AuthorizationService.AuthorizeAsync(User, "BLOG", Operations.Delete)).Succeeded)
                            {
                                <div id="btnDelete" data-options="iconCls:'icon-remove'">Xoá</div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>
@await Html.PartialAsync("_AddEditModal.cshtml")