@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <!-- Bootstrap Colorpicker -->
    <link href="~/admin/js/vendors/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css" rel="stylesheet">
}
@section Scripts{

    <!-- Bootstrap Colorpicker -->
    <script src="~/admin/js/vendors/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
    <script src="~/admin/app/controllers/color/index.js" asp-append-version="true"></script>
    <script>
        var color = new ColorController();
        color.initialize();
    </script>
}

<div class="page-title">
    <div class="title_left">
        <h3>Quản Lý Màu Sắc Sản Phẩm</h3>
    </div>

    <div class="title_right">
        <div class="col-md-2 col-sm-2 col-xs-12 form-group pull-right">
            @*@if ((await AuthorizationService.AuthorizeAsync(User, "PRODUCT_CATEGORY", Operations.Create)).Succeeded)
                {
                    <button class="btn btn-success" id="btnCreate" type="button"><i class="fa fa-plus"></i>Tạo Mới</button>
                }
                else
                {
                    <button class="btn disabled" disabled><i class="fa fa-plus"></i>Tạo Mới</button>
                }*@
            <button class="btn btn-success btn-create" id="btnCreate" type="button"><i class="fa fa-plus"></i>Tạo Mới</button>
        </div>
    </div>
</div>
<div class="clearfix"></div>

<div class="row">
    <!-- form color picker -->
    <div class="col-md-10 col-sm-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Quản Lý Màu Sắc</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Settings 1</a>
                            </li>
                            <li>
                                <a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="tbl-product-color" class="table table-striped table-bordered nowrap">
                    <thead>
                        <tr>
                            <th class="text-center">Mã</th>
                            <th class="text-center">Mã Màu</th>
                            <th class="text-center">Tên Màu</th>
                            <th class="text-center">Màu</th>
                            <th class="text-center">Chức Năng</th>
                        </tr>
                    </thead>
                    <tbody id="tbl-content-color"></tbody>
                </table>

                <div class="row">
                    <div class="col-sm-5">
                        <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">
                            <select id="ddl-show-page">
                                <option value="10" selected="selected">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="50">50</option>
                            </select>
                            <span class="item-per-page">
                                recors/page.
                            </span>
                            Total records: <strong id="lbl-total-records"></strong>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="dataTables_paginate" id="datatable-checkbox_paginate">
                            <ul id="paginationUL"></ul>
                        </div>
                    </div>
                </div>

                <script id="table-template" type="x-tmpl-mustache">
                    <tr>
                        <td class="text-center">{{Id}}</td>
                        <td class="text-center">{{Code}}</td>
                        <td class="text-center">{{Name}}</td>
                        <td class="text-center"><input type="color" value="{{Code}}" style="width: 50px; height: 50px; border: unset" disabled /></td>
                        <td class="text-center">

                            @if ((await AuthorizationService.AuthorizeAsync(User, "SHIPER", Operations.Update)).Succeeded)
                            {
                                <a href="#" data-id="{{Id}}" class="btn  btn-xs btn-info btn-edit"><i class="fa fa-pencil-square-o"></i></a>
                            }
                            else
                            {
                                <button class="btn btn-xs disabled" disabled><i class="fa fa-pencil-square-o"></i></button>
                            }
                            @if ((await AuthorizationService.AuthorizeAsync(User, "SHIPER", Operations.Delete)).Succeeded)
                            {
                                <a href="#" data-id="{{Id}}" class="btn btn-xs  btn-danger btn-delete"><i class="fa fa-trash-o"></i></a>
                            }
                            else
                            {
                                <button class="btn btn-xs  disabled" disabled><i class="fa fa-trash-o"></i></button>
                            }
                        </td>
                    </tr>
                </script>
            </div>
        </div>
    </div>
    <!-- /form color picker -->
</div>

@await Html.PartialAsync("_Modal.cshtml")