@{
    ViewData["Title"] = "Access Denied";
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<style>
    a:hover {
        cursor: pointer;
        color: crimson;
    }
</style>

<div class="text-center">

    <h1 class="text-danger">Thông báo</h1>
    <h4 class="text-success">Bạn không có quyền Vào trang này! Xin liên hệ Quản trị viên</h4>
    <h4 class="text-primary">
        <a href="/">
            Quay lại trang chủ
        </a>
        hoặc
        <a href="~/admin/login/index">
            đăng nhập
        </a>
        với quyền quản trị
    </h4>
    <img src="~/uploaded/img_287253.png" style="width:300px; height:300px" />
</div>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>