@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<form method="post" asp-action="UpdateBusinessAdmin">
    <input placeholder="Update Permission" name="returnUrl" value="Index" />
    @*<input hidden="hidden" placeholder="Url" name="returnUrl" value="Index" />*@
    <input class="btn btn-sm btn-primary" type="submit" value="Submit Admin" />
</form>

<form method="post" asp-action="UpdateBusinessClient">
    <input placeholder="Update Permission" name="returnUrl" value="Index" />
    @*<input hidden="hidden" placeholder="Url" name="returnUrl" value="Index" />*@
    <input class="btn btn-sm btn-primary" type="submit" value="Submit Client" />
</form>