@{
    ViewData["Title"] = "Xác thực email";
}


<div class="breadcrumb-area gray-bg-7">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                <li class="active"> Xác thực email </li>
            </ul>
        </div>
    </div>
</div>
<div class="newsletter-area pt-25 pb-25">
    <div class="container">
        <div class="newsletter-border pt-65 pb-25">
            <div class="row">
                <div class="ml-auto mr-auto col-lg-8">
                    <div class="newsletter-wrapper pl-55 pr-55">
                        <div class="newsletter-title-2 text-center mb-30">
                            <h3 class="text-success">Xác thực Email tài khoản thành công</h3>
                            <p>Cảm ơn bạn đã xác nhận email của bạn.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
