@model List<FunctionViewModel>
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        @*<h3>Chọn Nghiệp Vụ</h3>*@
        <ul class="nav side-menu">
            @foreach (var item in Model.Where(x => string.IsNullOrEmpty(x.ParentId)))
            {
                <li>
                    <a><i class="fa @item.IconCss"></i> @item.Name <span class="fa fa-chevron-down"></span></a>
                    @if (Model.Any(x => x.ParentId == item.Id))
                    {
                        <ul class="nav child_menu">
                            @foreach (var jitem in Model.Where(x => x.ParentId == item.Id))
                            {
                                <li><a href="@jitem.URL">@jitem.Name</a></li>
                            }
                        </ul>
                    }
                </li>

            }
            @*<li>
                    <a><i class="fa fa-user"></i>Quản Lý Người Dùng<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a asp-area="Admin" asp-controller="Administration" asp-action="ListUsers">Danh Sách Người Dùng</a></li>
                    </ul>
                </li>
                <li>
                    <a><i class="fa fa-user"></i>Quản Lý Quyền<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a asp-area="Admin" asp-controller="Administration" asp-action="ListRoles">Danh Sách Quyền</a></li>
                        <li><a asp-area="Admin" asp-controller="Administration" asp-action="ManageUserRoles">Quyền Hạn Người Dùng</a></li>
                    </ul>
                </li>*@
        </ul>
    </div>
</div>