@using Syncfusion.JavaScript
@addTagHelper "*, Syncfusion.EJ"

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <!--Snycfusion-->
    <link href="~/lib/syncfusion-javascript/Content/ej/web/bootstrap-theme/ej.web.all.min.css" rel="stylesheet" />
    <link href="~/lib/syncfusion-javascript/Content/ej/web/responsive-css/ej.responsive.css" rel="stylesheet" />
    <link href="~/lib/syncfusion-javascript/Content/ej/web/responsive-css/ejgrid.responsive.css" rel="stylesheet" />
    <link href="~/lib/syncfusion-javascript/Content/ej/web/ej.widgets.core.bootstrap.min.css" rel="stylesheet" />
}
@section Scripts{
    <!--Syncfusion-->
    <script src="~/client/js/ejs/jsondata.min.js"></script>
    <script src="~/client/js/ejs/jsrender.min.js"></script>
    <script src="~/lib/syncfusion-javascript/Scripts/ej/web/ej.web.all.min.js"></script>
    <script src="~/client/js/ejs/properties.js"></script>
    @*<ej-script-manager></ej-script-manager>*@
    <script>
        $("#UploadAvatar").ejUploadbox({
            saveUrl: "/Files/PostUploadProfilePictures",
            uploadName: "files",
            allowDragAndDrop: true,
            multipleFilesSelection: true,
            asyncUpload: true,
            buttonText: { browse: "browse", upload: "upload", cancel: "cancel", close: "close" }
        });
    </script>
}
<div id="UploadAvatar"></div>