@{
    Layout = null;
}
@model ForgotPasswordViewModel
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Quên Mật Khẩu</title>

    <!-- Bootstrap -->
    <link href="~/admin/js/vendors/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/admin/js/vendors/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- NProgress -->
    <link href="~/admin/js/vendors/nprogress/nprogress.css" rel="stylesheet" />
    <!-- Animate.css -->
    <link href="~/admin/js/vendors/animate.css/animate.css" rel="stylesheet" />
    <link href="~/admin/js/vendors/notifyjs/dist/styles/metro/notify-metro.css" rel="stylesheet" />
    <!-- Custom Theme Style -->
    <link href="~/admin/build/css/custom.min.css" rel="stylesheet" />
</head>
<body class="login">
    <div>
        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <form asp-area="Admin" asp-controller="Account" asp-action="ForgotPassword" method="post">
                        <h1>Quên Mật Khẩu</h1>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div>
                            @*<label asp-for="Email"></label>*@
                            <input type="text" class="form-control" asp-for="Email" placeholder="Nhập email để tiếp tục..." required />
                        </div>
                        <div>
                            <button class="btn btn-default submit">Tiếp tục</button>
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">

                            <div class="clearfix"></div>
                            <br />

                            <div>
                                <h1><i class="fa fa-paw"></i>Admin</h1>
                                <p>©2020 All Rights Reserved. Privacy and Terms</p>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
    <script src="~/admin/js/vendors/jquery/dist/jquery.js"></script>
    <script src="~/admin/js/vendors/notifyjs/dist/notify.js"></script>
    <script src="~/admin/js/vendors/notifyjs/dist/styles/metro/notify-metro.js"></script>

    <script src="~/admin/js/vendors/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/admin/js/vendors/jquery-validation/dist/additional-methods.js"></script>
    <script src="~/admin/js/vendors/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/admin/js/vendors/validator/validator.js"></script>
</body>
</html>