@{
    Layout = null;
}
@model ResetPasswordViewModel
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Thây Đổi Mật Khẩu</title>

    <!-- Bootstrap -->
    <link href="~/admin/js/vendors/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/admin/js/vendors/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- NProgress -->
    <link href="~/admin/js/vendors/nprogress/nprogress.css" rel="stylesheet" />
    <!-- Animate.css -->
    <link href="~/admin/js/vendors/animate.css/animate.css" rel="stylesheet" />
    <link href="~/admin/js/vendors/notifyjs/dist/styles/metro/notify-metro.css" rel="stylesheet" />
    <!-- Custom Theme Style -->
    <link href="~/admin/build/css/custom.min.css" rel="stylesheet" />
</head>
<body class="login">
    <div>
        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <form asp-area="Admin" asp-controller="Account" asp-action="ResetPassword" method="post">
                        <h1>Đổi Mật Khẩu</h1>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <input asp-for="Code" type="hidden" />
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword"></label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-default">Thây đổi</button>
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">

                            <div class="clearfix"></div>
                            <br />

                            <div>
                                <h1><i class="fa fa-paw"></i>Admin</h1>
                                <p>©2020 All Rights Reserved. Privacy and Terms</p>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</body>
</html>