@*@model IEnumerable<TeduCoreApp.Data.Entities.BillDetail>*@
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (SignInManager.IsSignedIn(User))
{
    @section Scripts{
        <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
        <script src="~/assets/plugins/general/twbs-pagination/jquery.twbsPagination.min.js"></script>
        <script src="~/clientapp/controllers/bills/index.js"></script>
        <script>
            var billObj = new BillController();
            billObj.initialize();
        </script>
    }
    @section Styles{
        <link href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" rel="stylesheet" />
    }

    <input type="hidden" id="hid-category-id" value="0" />
    <div class="kt-grid--center">
        <div class="page-title kt-heading--center">
            <div class="title_left">
                <h3>Thông Tin Hóa Đơn Của Bạn</h3>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <table id="tbl-product" class="table table-striped table-bordered nowrap">
                            <thead>
                                <tr>
                                    <th>Chi Tiết Sản Phẩm</th>
                                    <th>Tên Người Nhận Hàng</th>
                                    <th>Địa Chỉ Nhận Hàng</th>
                                    <th>Số Điện Thoại</th>
                                    <th>Tin Nhắn</th>
                                    <th>Ngày Đặt</th>
                                </tr>
                            </thead>
                            <tbody id="tbl-content"></tbody>
                        </table>

                        <div class="row">
                            <div class="col-sm-5">
                                <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">
                                    <select id="ddl-show-page">
                                        <option value="10" selected="selected">10</option>
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                        <option value="50">50</option>
                                    </select>
                                    <span class="item-per-page">
                                        recors/page.
                                    </span>
                                    Total records: <strong id="lbl-total-records"></strong>
                                </div>
                            </div><div class="col-sm-7">
                                <div class="dataTables_paginate" id="datatable-checkbox_paginate">
                                    <ul id="paginationUL"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script id="table-template" type="x-tmpl-mustache">
            <tr>
                <td><a href="#" data-id="{{Id}}" class="btn-view"><i class="fa fa-eye"></i></a></td>
                <td>{{CustomerName}}</td>
                <td>{{CustomerAddress}}</td>
                <td>{{CustomerPhoneNumber}}</td>
                <td>{{CustomerMessage}}</td>
                <td>{{{DateCreated}}}</td>
            </tr>
        </script>
    </div>

    @await Html.PartialAsync("_Detail.cshtml")
}
else
{
    <div>Bạn Phải đăng nhập để xem thông  tin Đơn hàng</div>
}